<app-top-bar></app-top-bar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- 
Esercizio:
1. Creare form di login (campi: nome utente, password)
2. Salvare nel db.json delle credenziali (utente, password)
3. Al login (metodo login nel componentente login.component.ts)
    - Controllo credenziali tramite chiamata a BE passando username e password come query params (HTTPParams)
4. Se login riuscito, salvataggio di utente loggato nell'app (servizio, localStorage, ...)
5. Se login fallito, messaggio di errore nella pagina login.component.html
-->