<div class="container">

  <div class="d-flex justify-content-around">
    <button mat-stroked-button (click)="logout()">
      Log Out
    </button>
    <button mat-stroked-button [routerLink]="'./'">
      Dashboard
    </button>
    <button mat-stroked-button [routerLink]="'./edit'">
      Sezione Edit
    </button>
    <button mat-stroked-button [routerLink]="'./delete'">
      Sezione Delete
    </button>
  </div>

</div>

<div class="my-3">
  <mat-divider></mat-divider>
</div>

<router-outlet></router-outlet>