<div class="top-bar">
  <a [routerLink]="['/']">
    <h1>Home</h1>
  </a>
  
  <div>
  
    <ng-container *ngIf="showCheckoutBtn">
      <a routerLink="/store/cart" class="button fancy-button">
        <span class="material-symbols-outlined">
          shopping_cart
        </span>
        Checkout
      </a>
    </ng-container>
  
    <button routerLink="/store">
      <span class="material-symbols-outlined" style="color: white;">
        shopping_cart
      </span>
    </button>
  
    <button routerLink="/users">
      <span class="material-symbols-outlined" style="color: white;">
        group
      </span>
    </button>
  
    <button routerLink="/admin">
      <span class="material-symbols-outlined" style="color: white;">
        admin_panel_settings
      </span>
    </button>
  </div>
</div>