<p>
  <mat-toolbar color="primary">
    
    <a mat-button [routerLink]="['/']">
      <mat-icon>school</mat-icon>
      <span>Academy App</span>
    </a>

    @if (userLogged$ | async; as user) {
      <span>
        Ciao, {{ user.username }}
      </span>
    }

    <span>
      Ciao, {{ username }}
    </span>
    
    <span class="spacer"></span>

      <button mat-icon-button routerLink="/store" aria-label="navigate to store section">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      
      <button mat-icon-button routerLink="/academy" aria-label="navigate to academy section">
        <mat-icon>group</mat-icon>
      </button>
  
      <div class="divider"></div>
  
      <button mat-icon-button routerLink="/admin" aria-label="navigate to admin section">
        <mat-icon>admin_panel_settings</mat-icon>
      </button>    

  </mat-toolbar>
</p>

<!-- <ng-container *ngIf="showCheckoutBtn">
  <a routerLink="/store/cart" class="button fancy-button">
    <span class="material-symbols-outlined">
      shopping_cart
    </span>
    Checkout
  </a>
</ng-container> -->