<div class="container">
  <form [formGroup]="loginForm" class="row">
  
    <div class="col-sm-6 mb-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      @if (username.invalid && (username.dirty || username.touched)) {
        @if (username.hasError('usernameInUse')) {
          <mat-error>Username already taken</mat-error>
        }
      }
    </div>
  
    <div class="col-sm-6 mb-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
    </div>
  
    <div *ngIf="isWrongAttempt$ | async" class="alert">
      <div>
        {{ isLoginAttempt ? 'Log in' : 'Sign in'}} invalid
      </div>
    </div>
  
    <div class="col-12 d-flex justify-content-around">

      <button mat-flat-button type="button" color="primary"
        [disabled]="loginForm.invalid"
        (click)="login()"
      >
        Log In
      </button>

      <button mat-flat-button type="button" color="primary" (click)="login(false)">
        Sign In
      </button>

    </div>
  
  </form>
</div>