<!-- Direttive d'Attributo / Attributive -->

<!-- NgClass => Imposta una classe in maniera dinamica -->
<!-- <div [ngClass]="showColorClass ? 'colorClass' : 'weightClass'">Lorem ipsum dolor sit amet.</div>

<hr> -->

<!-- NgStyle => Imposta uno stile in maniera dinamica -->
<!-- <div [ngStyle]="divStyles">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur, quod.</div> -->

<!-- NgModel => Mostrare ed impostare valore di proprietà da input utente -->
<!-- <div>
  <label for="exampleNgModel">[(ngModel)]:</label>
  <input type="text" [(ngModel)]="exampleItem.value" id="exampleNgModel">

  <hr>
  
  <label for="exampleNgModel">[ngModel] & (ngModelChange) :</label>
  <input type="text" [ngModel]="exampleItem.value" (ngModelChange)="setExampleItemValue($event)" id="exampleNgModel">
</div> -->

<!-- Direttive Strutturali -->

<!-- <div *ngIf="isShown">Lorem ipsum dolor sit amet.</div>
@if (isShown) {
  <div>Angular 17 - Lorem ipsum dolor sit amet.</div>
} @else {
  <div>Angular 17 Else - Lorem, ipsum dolor.</div>
}

<div *ngFor="let element of forArray; trackBy: trackById; let i = index; let last = last">
  <p>{{ element.id}} - {{ element.value }}</p>
</div>
<div *ngIf="forArray.length == 0">
  No items in the array
</div>

@for (el of forArray; track el.id; let i = $index, last = $last, odd = $odd) {
  <div>{{ el.value }}</div>
} @empty {
  <div>No items in the array</div>
}

<div *ngFor="let element of forArray; trackBy: trackById; let i = index; let last = last">
  <div [ngSwitch]="element.role">
    <p *ngSwitchCase="'Reader'">Questo è elemento Reader {{ element.value }} {{ element.role }}</p>
    <p *ngSwitchCase="'Editor'">Questo è elemento Editor {{ element.value }} {{ element.role }}</p>
    <p *ngSwitchCase="'Admin'">Questo è elemento Admin {{ element.value }} {{ element.role }}</p>
    <p *ngSwitchCase="4">Questo è elemento 4 {{ element.value }} {{ element.role }}</p>
    <p *ngSwitchDefault>Questo è l'elemento di default</p>
  </div>  
</div>
@for (el of forArray; track el.id; let i = $index, last = $last, odd = $odd) {
  @switch (el.role) {
    @case ('Reader') {
      <p>Elemento Reader {{ el.value }}</p>
    }
    @case ('Editor') {
      <p>Elemento Editor {{ el.value }}</p>
    }
    @case ('Admin') {
      <p>Elemento Admin {{ el.value }}</p>
    }
    @default {
      <p>Elemento Default</p>
    }
  }
} @empty {
  <div>No items in the array</div>
} -->


<!-- Lista di numeri (1-100):
  Numero è multiplo di 3 => Fiz
  Numero è multiplo di 5 => Buzz
  Numero è multiplo di 3 e 5 => FizBuzz
  Default: stampa numero

if (multiplo di 3 e 5) {FizBuzz}
else if (multiplo di 3) { Fiz }
else if (multiplo di 5) { Buzz }
else { numero }

switch (numero) {
  case (multiplo 3)
    Fiz
  case (multiplo 5)
    Buzz
    break;
  default
    numero
}

switch (giorno della settimana) {
  case (lun-ven):
    questo codice...
  case (weekend)
    questo codice per editor
  case (giovedì)
    questo codice per reader
  default
    questo per tutto il resto
}

if (lun-ven) { qualcosa }
else if (weekend) { qualcosa }
else { qualcosa } -->

<form [formGroup]="loginForm" class="form-group">
  
  <div>
    <label for="username">Username</label>
    <input id="username" type="text" formControlName="username" />
    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert">
      <div *ngIf="username.hasError('usernameInUse')">Username alreay in use</div>
    </div>
  </div>

  <div>
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" />
  </div>

  <div *ngIf="isWrongAttempt$ | async" class="alert">
    <div>
      {{ isLoginAttempt ? 'Log in' : 'Sign in'}} invalid
    </div>
  </div>

  <div class="btn-row">
    <button class="button" type="button" [disabled]="loginForm.invalid" (click)="login()">
      Log In
    </button>
    <button class="button" type="button" (click)="login(false)">
      Sign In
    </button>
  </div>

</form>