<h2>Product Details</h2>

@if (product) {
  <mat-card class="bg-card">

    <mat-card-header>
      <mat-card-title>
        {{ product.name }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ product.price | currency }}
      </mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content class="my-2">
      @if (product.description) {
        <p>
          {{ product.description }}
        </p>
      } @else {
        <p>No description available.</p>
      }
    </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="addToCart(product)">
        Buy
      </button>
    </mat-card-actions>

  </mat-card>
}